{% extends "base.html" %} {% block title %} {% if form_type == 'login' %}Login{%
else %}Registro{% endif %} {% endblock %} {% block content %}
<h1>
  {% if form_type == 'login' %}Iniciar sesión{% else %}Crear cuenta{% endif %}
</h1>

<form method="post">
  {{ form.hidden_tag() }} {% if form_type == 'register' %}
  <div>
    {{ form.primer_nombre.label }}<br />
    {{ form.primer_nombre() }}
  </div>
  <div>
    {{ form.segundo_nombre.label }}<br />
    {{ form.segundo_nombre() }}
  </div>
  <div>
    {{ form.primer_apellido.label }}<br />
    {{ form.primer_apellido() }}
  </div>
  <div>
    {{ form.segundo_apellido.label }}<br />
    {{ form.segundo_apellido() }}
  </div>
  <div>
    {{ form.documento.label }}<br />
    {{ form.documento() }}
  </div>
  <div>
    {{ form.celular.label }}<br />
    {{ form.celular() }}
  </div>
  {% endif %}

  <div>
    {{ form.correo.label }}<br />
    {{ form.correo(size=32) }}
  </div>
  <div>
    {{ form.contrasena.label }}<br />
    {{ form.contrasena() }}
  </div>

  {% if form_type == 'login' %}
  <div>{{ form.recordar() }} {{ form.recordar.label }}</div>
  {% else %}
  <div>
    {{ form.confirmar_contrasena.label }}<br />
    {{ form.confirmar_contrasena() }}
  </div>
  {% endif %}

  <div>{{ form.submit() }}</div>
</form>

<p>
  {% if form_type == 'login' %} ¿No tienes una cuenta?
  <a href="{{ url_for('auth.register') }}">Regístrate</a> {% else %} ¿Ya tienes
  cuenta? <a href="{{ url_for('auth.login') }}">Inicia sesión</a>
  {% endif %}
</p>
{% endblock %}
